@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.Timer{
  background: linear-gradient(to bottom ,#000000,#0a3542);
  height: 96.3dvh;
}

.square{
  background: #0a3542;
}
.Display{
  background: #28829e;
  width: 50dvw;
}
